@charset "utf-8";

html, body {
  height: 100%;
}

h1,h2,h3,h4,h5{
  margin: 0 0 10px 0;
  padding: 0;
}

/* img {
  vertical-align: middle;
} */

ul {
  padding-inline-start: 0;
}
/* common */
.wrapper {
  background-color: #efefef;
  font-size: 14px;
  color: #333;
  margin: 0;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.flex_box {
  display: flex;
  flex-wrap: wrap;
  align-items:flex-start;
}

.contents__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* common */

/* header */
.header-area {
  padding: 10px 0 40px 0;
}

.header__title__area {
  margin: 30px 0;
}

.header__title {
  font-size: 32px;
}

.header__sub__text {
  color: #777;
}

.header-navigation {
  background-color: #fff;
  padding: 20px 0;
}

.nav__button {
  float: left;
  padding: 0 30px;
  text-align: center;
  list-style-type: none;
}

.nav__button a {
  color: #333;
  text-decoration: none;
}
/* header */

/* main */
.container {
  width: 920px;
  margin: 0 auto;
}

.left-contents {
  width: 600px;
  float: left;
}

.contents__items {
  padding: 40px;
  display: block;
  margin-bottom: 20px;
  background-color: #fff;
}

.card--contents:last-child {
  margin-bottom: 0;
}

/* staff--list */
.staff__list {
  margin-left: 35px;
  list-style: none;
}

.staff__list:nth-child(3n+1) {
  margin-left: 0;
}

.staff__img {
  width: 150px;
  height: 150px;
  display: block;
}

/* Access */
.right-contents {
  width: 300px;
  margin-left: 20px;
  float: left;
}
/* main */

/* footer */

.copyright {
  margin-top: 40px;
  color: #777;
  text-align: center;
}
/* footer */

@media screen and (max-width: 767px) {

  /* main */
  .container {
    width: 97%;
  }
  .left-contents {
    width: 100%;
    float: none;
  }

  .right-contents {
    width: 100%;
    float: none;
    margin-left: 0;
  }

  .contents__items:last-child {
    margin-bottom: 20px;
  }

  /* staff--list */
  .staff__list {
    /* margin-left: 0; */
    margin-left: 15px;
    flex-basis: 30%;
  }

  .staff__list:nth-child(3n+1) {
    /* margin-left: 0; */
    margin-left: 15px;
  }
  /* main */

}