@charset "utf-8";

/* ------ normalize ------ */
img {
  vertical-align: middle;
}
/* ------ normalize ------ */

body {
  background-color: #efefef;
  font-size: 14px;
  color: #333;

}

h1,h2,h3,h4,h5{
  margin: 0 0 10px 0;
  padding: 0;
}

ul {
  padding-inline-start: 0;
}

#wrapper{
  width: 920px;
  margin: 0 auto;
}

/* common */

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.flex_box {
  display: flex;
  flex-wrap: wrap;
  align-items:flex-start;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* common */

/* header */
.header {
  padding: 10px 0 40px 0;
}

.header-area {
  margin: 30px 0;
}

.header-title {
  font-size: 32px;
}

.header-text {
  color: #777;
}

.gnavi {
  background-color: #fff;
  padding: 20px 0;
}

.button {
  float: left;
  padding: 0 30px;
  text-align: center;
  list-style-type: none;
}

.button a {
  color: #333;
  text-decoration: none;
}
/* header */

/* contents */
.contents {
  width: 600px;
  float: left;
}

.information {
  padding: 40px;
  display: block;
  margin-bottom: 20px;
  background-color: #fff;
}

/* staff--list */
.staff {
  padding: 40px;
  display: block;
  margin-bottom: 20px;
  background-color: #fff;
}

.profile {
  margin-left: 35px;
  list-style: none;
}

.profile:nth-child(3n+1) {
  margin-left: 0;
}

.image {
  width: 150px;
  height: 150px;
  display: block;
}

/* Access */
.aside {
  width: 300px;
  margin-left: 20px;
  float: left;
}

.access {
  padding: 40px;
  display: block;
  margin-bottom: 20px;
  background-color: #fff;
}
/* contents */

/* footer */
.copyright {
  margin-top: 40px;
  color: #777;
  text-align: center;
}
/* footer */

@media screen and (max-width: 767px) {

  /* contents */
  #wrapper {
    width: 97%;
  }
  .contents {
    width: 100%;
    float: none;
  }

  .aside {
    width: 100%;
    float: none;
    margin-left: 0;
  }


  /* staff--list */
  .profile {
    /* margin-left: 0; */
    margin-left: 15px;
    flex-basis: 30%;
  }

  .profile:nth-child(3n+1) {
    /* margin-left: 0; */
    margin-left: 15px;
  }
  /* contents */

/* aside */
.access {
  margin-bottom: 0;
}
/* aside */
}