body {
  background-color: #efefef;
  font-size: 14px;
  color: #333;
  margin: 0;
}

h1,h2,h3,h4,h5{
  margin: 0 0 10px 0;
  padding: 0;
}

/* img {
  vertical-align: middle;
} */

ul {
  padding-inline-start: 0;
}
/* common */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.contents--title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* common */

/* header */
.header--area {
  padding: 10px 0 40px 0;
}

.container {
  width: 920px;
  margin: 0 auto;
}

.header--title--area {
  margin: 30px 0;
}

.main--logo {
  font-size: 32px;
}

.sub--text {
  color: #777;
}

.header--navigation {
  background-color: #fff;
  padding: 20px 0;
}

.nav--button {
  float: left;
  padding: 0 30px;
  text-align: center;
  list-style-type: none;
}

.nav--button a {
  color: #333;
  text-decoration: none;
}
/* header */

/* main */
.left--contents {
  width: 600px;
  float: left;
}

.card--contents {
  padding: 40px;
  display: block;
  margin-bottom: 20px;
  background-color: #fff;
}

.card--contents:last-child {
  margin-bottom: 0;
}

/* staff--list */
.staff--list {
  margin-left: 35px;
  float: left;
  list-style: none;
}

.staff--list:nth-child(3n+1) {
  margin-left: 0;
}

.staff--img {
  width: 150px;
  height: 150px;
  display: block;
}

/* Access */
.right--contents {
  width: 300px;
  margin-left: 20px;
  float: left;
}
/* main */

/* footer */

.footer {
  padding-top: 40px;
}

.copyright {
  color: #777;
  text-align: center;
}
/* footer */